:root {--main-color: dodgerblue}

::placeholder {
    color: var(--main-color);
    font-size: 12pt;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('./img/bg.min.png');
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: var(--main-color);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, .8); */
    background-color: rgba(255, 255, 255, .7);
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
    background-color: transparent;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 30px 15px;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 0 10px #aaa;
}

.headline {user-select: none}

hr {
    border: 1px solid #aaa;
    border-top: none;
}

input, button#get-temp {
    border-radius: 6px;
    padding: 10px 12px;
    margin: 7px auto;
    font-size: 12pt;
    outline: none;
}

input{
    color: var(--main-color);
    background: transparent;
    border: 1px solid var(--main-color);
}

button#get-temp {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

button#get-temp:hover {
    background-color: #1e90ffc9;
    border: 1px solid #1e90ffc9;
}

.output-holder {
    width: fit-content;
    margin: auto;
    text-align: left;
}

.holder {font-size: 13pt}

.holder span {font-weight: bold}

#temp-holder span {
    color: #FBDE44FF;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer a {color: var(--main-color)}