:root {
    --main-color: dodgerblue;
}

::placeholder {
    color: var(--main-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('./img/bg.png');
    color: var(--main-color);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    /* width: 60%; */
    width: fit-content;
    padding: 10px 30px 15px;
    transition: 1s;
    z-index: 2;
}

hr {
    border: 1px solid var(--main-color);
}

input{
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    padding: 7px;
    margin: 7px auto;
    outline: none;
}

button#get-temp {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
    border-radius: 8px;
    padding: 7px;
    margin: 7px auto;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

button#get-temp:hover {
    background-color: #1e90ffc9;
    border-color: #1e90ffc9;
}

.data-holder {
    width: fit-content;
    margin: auto;
    text-align: left;
}

.holder {
    font-size: 13pt;
}

.holder span {
    font-weight: bold;
}

#temp-holder span {
    color: #FBDE44FF;
}