::placeholder {
    color: dodgerblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: dodgerblue;
    color: dodgerblue;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    width: 60%;
    padding: 10px 0;
    transition: 1s;
}

label {
    display: block;
}

hr {
    width: 100%;
    border: 1px solid dodgerblue;
}
input, textarea, button {
    background-color: transparent;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 7px;
    margin: 7px auto;
    outline: none;
}

h1.headline {
    color: dodgerblue;
}

button#generate {
    cursor: pointer;
    transition: .4s;
}

button#generate:hover {
    background-color: dodgerblue;
    color: #fff;
}

#entryHolder {
    display: inline-block;
    width: fit-content;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    visibility: hidden;
}

#entryHolder span {
    color: #FBDE44FF;
    font-weight: bold;
}